.area-imagem {
  width: 100vw;
  min-height: 25vh;
  max-height: 200px;
}

.area-imagem img {
  width: 100%;
  height: 100%;
}

.area-cadastro {
  width: 100vw;
  max-height: 50vh;
  padding: 0 16px;
}

.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cadastro > input {
  background-color: var(--bege-secundario);
  color: var(--azul-secudario);
  font-weight: 600;

  width: 100%;
  height: 44px;
  
  border: 2px solid var(--azul-secudario);
  border-radius: 16px;
  margin: 8px 0;
  text-indent: 8pt;

  outline: none;
}

.inputs-radio {
  margin: 8px 0;
}

#cadastrar {
  background-color: var(--laranja-primario);
  color: var(--bege-primario);
  font-size: 1.4rem;

  width: 156px;
  height: 36px;
  margin: 8px 0;
  border-radius: 16px;
  border: none;
}

#sou-membro {
  color: var(--azul-secudario);
  font-size: .9rem;
}